@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Monoton&family=Playfair+Display&display=swap');

.movie_view {
  display: block;
  width: 100vW;
  height: 100vH;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  position: sticky;
  overflow-x: auto;
}

.nav {
  display: flex;
  width: 100%;
  position: fixed;
}

.nav > h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    padding: 35px;
}

.nav > a > img {
  position: absolute;
  top: 20px;
  right: 220px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#movie_card {
  display: flex;
  padding: 10px;
}

mat-card {
    margin-top: 160px;
    border: solid 2px black;
    margin-right: 6px;
    width: max-content;
    transition: 1s;
    opacity: 0.9;
}

mat-card:hover {
    box-shadow: 14px -7px 50px -17px rgba(0,0,0,0.75);
-webkit-box-shadow: 14px -7px 50px -17px rgba(0,0,0,0.75);
-moz-box-shadow: 14px -7px 50px -17px rgba(0,0,0,0.75);
transform: scale(1.01);
transition: 1s;
}

mat-card > img {
    width: 400px;
    height: 450px;
}
  

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
  }

  .animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

  @media only screen and (max-width: 400px) {

    .movie_view {
      max-width: 100%;
    }

    #movie_card {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 130px;
      justify-content: center;
      padding: 0;
    }

    mat-card > img {
      width: 300px;
      height: 350px;
  }

    mat-card {
      width: min-content;
      margin-bottom: 2px;
    }

    .nav > a > img {
      right: 60px;
    }
  }

  @media only screen and (max-width: 820px) {
    #movie_card {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 160px;
      justify-content: center;
      padding: 0;
    }

    mat-card {
      width: min-content;
      margin: 40px;
    }

    

    .nav > a > img {
      right: 60px;
    }
  }

  @media only screen and (max-width:1100px) and (min-width: 820px) {
    #movie_card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 160px;
      margin-left: 20px;
      margin-right: 20px;
    }

    mat-card > img {
      width: 350px;
      height: 400px;
  }

    mat-card {
      width: min-content;
      margin: 2px;
      margin-bottom: 10px;
    }


    .nav > a > img {
      right: 60px;
    }
  }